.bg-dark, .navbar.navbar-inverse { background-color: #236478 !important;}

.bslib-sidebar-layout>.main {
  padding: 0rem !important;
}

.bslib-sidebar-layout>.sidebar {
  background-color: white !important;
}

.bslib-sidebar-layout>.collapse-toggle {
  background-color: white !important;
}

.leaflet-popup-content-wrapper {
  /* background: #DB0925; */
  border-radius: 3px;
  font-family: 'Raleway';
  font-size: 15px;
  }

.leaflet-control{
  font-family: 'Raleway';
}

.leaflet .legend {
  font-family: "Source Code Pro";
}

#map > div.leaflet-control-container > div.leaflet-top.leaflet-right > div.info.legend.leaflet-control > div > strong {
  font-family: 'Raleway';
}

/* remover borde redondeado */
.card, .well {
  /* border-radius: .375rem; */
  border-width: 0;
}

/*
pal    <- c('#730000','#E60000','#FFAA00','#FFD37F','#FFFF00','#FFFFFF','#8CCDEF','#00BFFF','#1D90FF','#4169E1','#0000FF')
seq    <- 1:length(pal)
txtcol <- ifelse(between(seq, 3, 8), "#000", "#fff")
str_glue(".badge-pal{seq} {{color: {txtcol} !important; background-color: {pal};}}")
*/
.badge-pal1 {color: #fff !important; background-color: #730000;}
.badge-pal2 {color: #fff !important; background-color: #E60000;}
.badge-pal3 {color: #000 !important; background-color: #FFAA00;}
.badge-pal4 {color: #000 !important; background-color: #FFD37F;}
.badge-pal5 {color: #000 !important; background-color: #FFFF00;}
.badge-pal6 {color: #000 !important; background-color: #FFFFFF;}
.badge-pal7 {color: #000 !important; background-color: #8CCDEF;}
.badge-pal8 {color: #000 !important; background-color: #00BFFF;}
.badge-pal9 {color: #fff !important; background-color: #1D90FF;}
.badge-pal10 {color: #fff !important; background-color: #4169E1;}
.badge-pal11 {color: #fff !important; background-color: #0000FF;}
